{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [
    rebar3_lint,
    erlfmt,
    rebar3_hex,
    covertool
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{erlfmt, [
    write,
    {files, "rebar.config"},
    {files, "src/*.app.src"},
    {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            {d, 'OBSERVER', observer},
            {d, 'SAVE_STATS'}
        ]}
    ]}
]}.
